body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f8f9fa;
    background-image: url(../images/imagendeFondo.avif);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
}

/* Estilo para el header */
header {
    margin-bottom: 30px;
}

.logo {
    max-width: 200px;
    margin-bottom: 10px;
    border: 2px solid red;
    border-radius: 50%;
}

/* Estilo para el título */
.principal {
    font-size: 2rem;
}

/* Contenedor de las cards */
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

/* Asegura que las imágenes tengan el mismo tamaño */
.card {
    width: 18rem;  /* Tamaño fijo de la card */
    height: 300px;  /* Asegura que las cards tengan un tamaño adecuado */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra para mejorar el estilo */
    transition: transform 0.3s ease; /* Agrega transición para efecto hover */
}

.card:hover {
    transform: scale(1.05); /* Efecto de hover para las cards */
}

.card img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho de la card */
    height: 200px; /* Establece la altura fija para las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}

/* Cuando las cards están en la fila de abajo */
.card-container.bottom {
    gap: 40px;
}

/* Asegurar que todas las cards estén centradas */
.card-container .card {
    margin: 10px;
}

/* Asegurar que la imagen de la card de Red Dead Redemption se centre de manera correcta */
.card img.red-dead {
    object-fit: contain;
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-success {
    margin: 2rem;
}
